In [3]:
import yfinance as yf

In [4]:
start_date = '2014-01-01' 
end_date = '2023-01-30' 
ticker = 'ADANIENT.NS'
df = yf.download(ticker, start=start_date, end=end_date)
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-01 00:00:00+05:30,40.433960,41.368938,40.204048,41.192673,37.986454,7564701
2014-01-02 00:00:00+05:30,40.464615,41.192673,38.824574,39.138786,36.092422,17188171
2014-01-03 00:00:00+05:30,38.778587,39.246078,37.475750,38.065861,35.103012,11525782
2014-01-06 00:00:00+05:30,37.996887,39.069813,37.506405,38.632977,35.625988,10660990
2014-01-07 00:00:00+05:30,38.832237,39.069813,36.939289,37.084900,34.198406,11002957

In [5]:
df.shape

(2239, 6)

In [7]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2239.000000,2239.000000,2239.000000,2239.000000,2239.000000,2.239000e+03
mean,551.096681,561.004332,540.661695,551.176005,549.555746,9.120910e+06
std,938.162265,951.991517,921.907630,937.562662,938.125766,1.268775e+07
min,32.149174,33.402447,31.713251,32.012947,30.417425,0.000000e+00
25%,64.284721,65.933048,62.690887,64.025894,61.244781,3.330802e+06
50%,117.949997,120.320923,115.000000,118.099998,114.921822,5.649934e+06
75%,327.074997,333.425003,316.899994,328.024994,327.668106,1.015041e+07
max,4175.000000,4190.000000,4066.399902,4165.299805,4165.299805,1.773912e+08

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2239 entries, 2014-01-01 00:00:00+05:30 to 2023-01-27 00:00:00+05:30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2239 non-null   float64
 1   High       2239 non-null   float64
 2   Low        2239 non-null   float64
 3   Close      2239 non-null   float64
 4   Adj Close  2239 non-null   float64
 5   Volume     2239 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 122.4 KB

In [10]:
df['Date']

KeyError: 'Date'

In [13]:
df.loc['2023-01-01':'2023-01-02']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-02 00:00:00+05:30,3870.0,3874.0,3822.550049,3841.199951,3841.199951,923051